# =================================================================
#
# Authors: Soumya Ganguly <sganguly@uni-muenster.de>
#
#
# Copyright (c) 2023 OER4SDI
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# =================================================================

# Default config for base Docker Image, override via DockerVolume
# mapping with your own config.
server:
  bind:
    host: 0.0.0.0
    port: 80
  url: http://localhost:5000
  mimetype: application/json; charset=UTF-8
  encoding: utf-8
  gzip: false
  language: en-US
  cors: true
  pretty_print: true
  limit: 10
  # templates: /path/to/templates
  map:
    url: https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png
    attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia maps</a> | Map data &copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
  ogc_schemas_location: /schemas.opengis.net

logging:
  level: ERROR
  #logfile: /tmp/pygeoapi.log

metadata:
  identification:
    title: Protected Natural Areas in Germany
    description: The protected sites geodata is published with help of this OGC API(PyGeoAPI) service
    keywords:
      - geospatial
      - data
      - api
    keywords_type: theme
    terms_of_service: https://creativecommons.org/licenses/by/4.0/
    url: https://github.com/geopython/pygeoapi
  license:
    name: CC-BY 4.0 license
    url: https://creativecommons.org/licenses/by/4.0/
  provider:
    name: pygeoapi Development Team
    url: https://pygeoapi.io
  contact:
    name: OER4SDI
    position: Project
    address: Heisenbergstraße 2, 48149 Münster, Germany
    city: Münster
    stateorprovince: North Rhine Westphalia
    postalcode: 48149
    country: Germany
    phone: +xx-xxx-xxx-xxxx
    email: you@example.org
    url: Contact URL
    hours: Hours of Service
    instructions: During hours of service.  Off on weekends.
    role: pointOfContact

resources:
  Biospharenreservate:
    type: collection
    title: Biospharenreservate
    description: Protected areas of nature conservation
    keywords:
      - Protected Areas
    linked-data:
      context:
        - datetime: https://schema.org/DateTime
        - vocab: https://example.com/vocab#
          stn_id: "vocab:stn_id"
          value: "vocab:value"
    links:
      - type: text/html
        rel: canonical
        title: information
        href: https://inspire-geoportal.ec.europa.eu/download_details.html?view=downloadDetails&resourceId=%2FINSPIRE-4fed3eb0-06fa-11ea-8480-525400695e9c_20221103-110203%2Fservices%2F1%2FPullResults%2F196081-196100%2Fdatasets%2F20&expandedSection=metadata
        hreflang: en-US
    extents:
      spatial:
        bbox:
          [
            8.846809605190643,
            47.35774013506897,
            15.676629854516267,
            56.29366890593978,
          ]
      temporal:
        begin: 2011-11-11
        end: null # or empty (either means open ended)
    providers:
      - type: feature
        name: OGR
        data:
          source_type: ESRI Shapefile
          source: /data/Biospharenreservate/biosphaerenreservate_epsg25832_shp.shp # Path to the local file that contains the data
          source_capabilities:
            paging: True

          gdal_ogr_options:
            EMPTY_AS_NULL: NO
            GDAL_CACHEMAX: 64
            CPL_DEBUG: NO
            SHPT: POLYGON # Shape type (Point, Line, Polygon) of features in the dataset

          source_options:
            ADJUST_GEOM_TYPE: FIRST_SHAPE

        crs: # supported coordinate reference systems (CRS) for 'crs' and 'bbox-crs' query parameters
          - http://www.opengis.net/def/crs/OGC/1.3/CRS84
          - http://www.opengis.net/def/crs/EPSG/0/25832
        storage_crs: http://www.opengis.net/def/crs/EPSG/0/25832
        id_field: id # Unique id column of feature elements in the dataset.
        layer: biosphaerenreservate_epsg25832_shp # Name of the feature layer in the dataset.

  BiospharenreservateCleaned:
    type: collection
    title: Biospharenreservate Clean
    description: Protected areas of nature conservation
    keywords:
      - Protected Areas
    linked-data:
      context:
        - datetime: https://schema.org/DateTime
        - vocab: https://example.com/vocab#
          stn_id: "vocab:stn_id"
          value: "vocab:value"
    links:
      - type: text/html
        rel: canonical
        title: information
        href: https://inspire-geoportal.ec.europa.eu/download_details.html?view=downloadDetails&resourceId=%2FINSPIRE-4fed3eb0-06fa-11ea-8480-525400695e9c_20221103-110203%2Fservices%2F1%2FPullResults%2F196081-196100%2Fdatasets%2F20&expandedSection=metadata
        hreflang: en-US
    extents:
      spatial:
        bbox:
          [
            8.846809605190643,
            47.35774013506897,
            15.676629854516267,
            56.29366890593978,
          ]
      temporal:
        begin: 2011-11-11
        end: null # or empty (either means open ended)
    providers:
      - type: feature
        name: OGR
        data:
          source_type: ESRI Shapefile
          source: /data/Biospharenreservate-Cleaned/biosphaerenreservate_with_uid.shp # Path to the local file that contains the data
          source_capabilities:
            paging: True

          gdal_ogr_options:
            EMPTY_AS_NULL: NO
            GDAL_CACHEMAX: 64
            CPL_DEBUG: NO
            SHPT: POLYGON # Shape type (Point, Line, Polygon) of features in the dataset

          source_options:
            ADJUST_GEOM_TYPE: FIRST_SHAPE

        crs: # supported coordinate reference systems (CRS) for 'crs' and 'bbox-crs' query parameters
          - http://www.opengis.net/def/crs/OGC/1.3/CRS84
          - http://www.opengis.net/def/crs/EPSG/0/25832
        storage_crs: http://www.opengis.net/def/crs/EPSG/0/25832
        id_field: uid # Unique id column of feature elements in the dataset.
        layer: biosphaerenreservate_with_uid # Name of the feature layer in the dataset.

  NSG: # A name for identifying the dataset
    type: collection
    title: NSG # Title to be displayed in the list of collections
    description: Protected areas of nature conservation # Brief description regarding dataset content
    keywords:
      - Protected Areas # Relevant keywords/tags for categorising
    linked-data:
      context:
        - datetime: https://schema.org/DateTime
        - vocab: https://example.com/vocab#
          stn_id: "vocab:stn_id"
          value: "vocab:value"
    links:
      - type: text/html
        rel: canonical
        title: information
        href: https://www.nlwkn.niedersachsen.de/naturschutzgebiete/-39505.html # A link to the dataset source
        hrefland: de-DE
    extents:
      spatial:
        bbox: [
            6.36975599999999975,
            51.2800889999999967,
            11.49054800000000043,
            53.91182799999999986,
          ] # Area of interest (min Long, min Lat, max Long, max Lat)
    providers:
      - type: feature
        name: OGR
        data:
          source_type: ESRI Shapefile
          source: /data/NSG/Naturschutzgebiete_DTK25.shp # Path to the local file that contains the data

          source_capabilities:
            paging: True

          gdal_ogr_options:
            EMPTY_AS_NULL: NO
            GDAL_CACHEMAX: 64
            CPL_DEBUG: NO
            SHPT: POLYGON # Shape type (Point, Line, Polygon) of features in the dataset

          source_options:
            ADJUST_GEOM_TYPE: FIRST_SHAPE
        crs: # supported coordinate reference systems (CRS) for 'crs' and 'bbox-crs' query parameters
          - http://www.opengis.net/def/crs/OGC/1.3/CRS84
          - http://www.opengis.net/def/crs/EPSG/0/4647
          - http://www.opengis.net/def/crs/EPSG/0/25832
        storage_crs: http://www.opengis.net/def/crs/EPSG/0/4647
        id_field: KENNZ_FFN # Unique id column of feature elements in the dataset.
        layer: Naturschutzgebiete_DTK25 # Name of the feature layer in the dataset.
